<div class="container">
    <% if (page.path == "index.html") { %>
    <div class="hero">
        <div class="group">
            <h2 class="sub"><%= config.subtitle %></h2>
            <h2 class="large"><%= config.description %></h2>
        </div>
    </div>

    <h2 class="section-title"><%= __('latest_posts') %></h2>
    <% } %>

    <div class="post-list">
        <% page.posts.each(function (post) { %>
            <!-- Meditations won't be shown on home page -->
            <% if (page.path == "index.html") { %>
                <% if (Object.values(post.categories.data[0])[0] === 'Meditation') { %>
                    <!-- Do nothing -->
                <% }else{ %>
                    <%- partial('_widget/post-list-item',{post}) %>
                <% }%>
            <!-- But will be shown in other index-layout pages like archives -->
            <% }else{ %>
                <%- partial('_widget/post-list-item',{post}) %>
            <% }%>
        <% }) %>
    </div>

    <%- partial('_partial/paginator') %>
</div>