<article class="post">
    <div class="meta">
        <h2 class="title">
            <%= page.title %>
            <div class="divider"></div>
            <div class="content">
                <%- page.content %>
             </div>
        </h2>
    </div>
    <div class="content">
        
        <div class="post-list">
            <% site.posts.each(function (post) { %>
                <% if (post.categories && post.categories.length && !is_category() && Object.values(post.categories.data[0])[0] === 'Meditation') { %>
                    <%- partial('_widget/post-list-item',{post}) %>
                <% } %>
            <% }) %>
        </div>
    </div>

<% if (!page.no_about) { %>
    <div class="about">
        <h1><%= __('about_this_post') %></h1>
        <p><%- __('this_post_is_written_by', config.author) %>.</p>
    </div>
<% } %>
</article>